core/node_modules
core/src/database/*.sqlite
core/package-lock.json

gui/node_modules
gui/package-lock.json

ngui/node_modules/**/*
ngui/package-lock.json
ngui/.expo/*
ngui/npm-debug.*
ngui/*.jks
ngui/*.p8
ngui/*.p12
ngui/*.key
ngui/*.mobileprovision
ngui/*.orig.*
ngui/web-build/
ngui/web-report/

.idea/
